* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   background: #141414;
   color: #f4f4f4;
}

h2{
   font-size: 3rem;
   color: #009632;
}

h5 {
   font-size: 1.4rem;
   font-weight: 700;
   padding-top: 0.15rem;
   color: #009632;
}

input {
   margin: 0.5rem 0;
   padding: 0 0.5rem;
   width: 100%;
   height: 2.25rem;
   border: 1px solid #232323;
   border-radius: 0.3rem;
   box-shadow: none;
   font-size: 17px;
}

input:focus {
   outline-offset: 0;
   outline: 0;
   border: 2px solid #009632;
   border-radius: 0.3rem;
}

input::placeholder {
   font-size: 14px;
}

.container {
   width: 75%;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.heading {
   margin: 1rem 0;
   text-align: center;
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

#error {
   display: none;
   color: #f4f4f4;
   background: #c519199d;
   padding: 0.5rem 1rem;
   border-radius: 0.3rem;
   text-align: center;
}

.form{
   width: 50%;
   margin: 2rem 1rem;
   height: 70%;
}

.form-option {
   height: 33%;
   margin: 0.25rem 0;
}

.btn {
	cursor: pointer;
   display: inline-block;
	height: 2.25rem;
   padding: 10px 20px;
   margin-top: 0.75rem;
	border: 0;
	border-radius: 0.3rem;
	background: #009632;
	color: white;
	font-size: 15px;
   text-align: center;
}

.btn {
   outline-offset: 0;
   outline: 0;
}

.result {
   width: 50%;
   height: 70%;
   margin: 2rem 1rem;
}

.row {
   height: 33%;
   text-align: left;
   margin: 0.25rem 0;
}

.box {
   margin: 0.5rem 0;
   padding: 0 0.5rem;
   width: 100%;
   height: 2.25rem;
   border: 1px solid #232323;
   background: #00412094;
   border-radius: 0.3rem;
   box-shadow: none;
   font-size: 17px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem 0rem;
}

.footer .social {
	padding-top: 15px;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

.fa-lg {
   color: #009632;
}

.fa-lg:hover {
  color: #036434af;
}


@media(max-width: 600px){

   .container {
      height: 100%;
   }

   .content {
      flex-direction: column;
   }

   .heading{
      margin: 2rem 0;
   }

   #error {
      font-size: 14px;
      padding: 0.5rem;
      margin: 0.5rem 0;
   }

   .form {
      width: 100%;
      margin: 0;
   }

   .result {
      width: 100%;
      margin-top: 0;
   }

   .form-option {
      margin: 0;
      margin-bottom: 0.5rem;
      height: max-content;
   }

   .row{
      margin: 0;
      height: max-content;
   }

   .btn {
      margin: 0;
      justify-self: center;
      margin-bottom: 0.75rem;
   }

   .footer {
      margin: 1rem 0;
   }
}